[Unit]
Description=When requested, sends a brief weather forecast over amateur digital mode JS8Call

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/js8call-wx_station/wx_station-0.3.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
